In [1]:
import pandas as pd

In [57]:
df = pd.read_excel('Countries of the world.xls',header=None)

In [58]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,Data is public domain from US government.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Compiled by combining information from files a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country,Region,Population,Area,Pop. Density,Coastline,Net migration,Infant mortality,GDP,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
4,NaN,NaN,NaN,sq. mi.,per sq. mi.,coast/area ratio,NaN,per 1000 births,$ per capita,%,per 1000,%,%,%,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19],
           dtype='int64')

In [60]:
extension = df[0][0]+df[0][1]

In [102]:
extension

'Data is public domain from US government.Compiled by combining information from files at: http://gsociology.icaap.org/dataupload.html'

In [62]:
df = df.fillna("")

In [63]:
for i in range(0,df.shape[1]):
    df[i][3] = df[i][3]+" "+ df[i][4]

In [64]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,Data is public domain from US government.,,,,,,,,,,,,,,,,,,,
1,Compiled by combining information from files a...,,,,,,,,,,,,,,,,,,,
2,,,,,,,,,,,,,,,,,,,,
3,Country,Region,Population,Area sq. mi.,Pop. Density per sq. mi.,Coastline coast/area ratio,Net migration,Infant mortality per 1000 births,GDP $ per capita,Literacy %,Phones per 1000,Arable %,Crops %,Other %,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
4,,,,sq. mi.,per sq. mi.,coast/area ratio,,per 1000 births,$ per capita,%,per 1000,%,%,%,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,West Bank,NEAR EAST,2460492,5860,419.88,0,2.98,19.62,800,,145.21,16.9,18.97,64.13,3,31.67,3.92,0.09,0.28,0.63
228,Western Sahara,NORTHERN AFRICA,273008,266000,1.03,0.42,,,,,,0.02,0,99.98,1,,,,,0.4
229,Yemen,NEAR EAST,21456188,527970,40.64,0.36,0,61.5,800,50.2,37.2,2.78,0.24,96.98,1,42.89,8.3,0.135,0.472,0.393
230,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.28,0,0,88.29,800,80.6,8.23,7.08,0.03,92.9,2,41,19.93,0.22,0.29,0.489
231,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.33,0,0,67.69,1900,90.7,26.8,8.32,0.34,91.34,2,28.01,21.84,0.179,0.243,0.579

In [68]:
df = df.drop([0,1,2,4],axis = 0)

In [77]:
df.columns = df.iloc[0]

In [86]:
df.drop([3],inplace=True)

In [92]:
df.set_index('Country ',inplace=True)

In [94]:
df.head()

3,Region,Population,Area sq. mi.,Pop. Density per sq. mi.,Coastline coast/area ratio,Net migration,Infant mortality per 1000 births,GDP $ per capita,Literacy %,Phones per 1000,Arable %,Crops %,Other %,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,47.96,0,23.06,163.07,700,36,3.22,12.13,0.22,87.65,1,46.6,20.34,0.38,0.24,0.38
Albania,EASTERN EUROPE,3581655,28748,124.59,1.26,-4.93,21.52,4500,86.5,71.2,21.09,4.42,74.49,3,15.11,5.22,0.232,0.188,0.579
Algeria,NORTHERN AFRICA,32930091,2381740,13.83,0.04,-0.39,31,6000,70,78.1,3.22,0.25,96.53,1,17.14,4.61,0.101,0.6,0.298
American Samoa,OCEANIA,57794,199,290.42,58.29,-20.71,9.27,8000,97,259.54,10,15,75,2,22.46,3.27,,,
Andorra,WESTERN EUROPE,71201,468,152.14,0,6.6,4.05,19000,100,497.18,2.22,0,97.78,3,8.71,6.25,,,

In [100]:
df.shape

(227, 19)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 227 entries, Afghanistan  to Zimbabwe
Data columns (total 19 columns):
Region                              227 non-null object
Population                          227 non-null object
Area sq. mi.                        227 non-null object
Pop. Density per sq. mi.            227 non-null object
Coastline coast/area ratio          227 non-null object
Net migration                       227 non-null object
Infant mortality per 1000 births    227 non-null object
GDP $ per capita                    227 non-null object
Literacy %                          227 non-null object
Phones per 1000                     227 non-null object
Arable %                            227 non-null object
Crops %                             227 non-null object
Other %                             227 non-null object
Climate                             227 non-null object
Birthrate                           227 non-null object
Deathrate                           227 non-null object
Agriculture                         227 non-null object
Industry                            227 non-null object
Service                             227 non-null object
dtypes: object(19)
memory usage: 35.5+ KB

In [101]:
df.to_csv("Countries.csv")

In [103]:
file = open("Countries.csv","a")
file.write(extension)
file.close()